/dist/
/nbproject/private/
/build/
/Tarea 1/Tarea1/build/
/Tarea 1/Tarea1/dist/
/Tarea 1/Tarea1/nbproject/private/
/Logica/nbproject/private/
/Logica/build/
/Logica/dist/
/Tarea1/nbproject/private/