<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AgregarCliente</servlet-name>
        <servlet-class>Clientes.AgregarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarRestaurante</servlet-name>
        <servlet-class>Restaurantes.AgregarRestaurante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Restaurantes.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pedidos</servlet-name>
        <servlet-class>Pedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedidos</servlet-name>
        <servlet-class>Pedidos.ListarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductos</servlet-name>
        <servlet-class>Productos.AgregarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Clientes.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Clientes.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaDeDatos</servlet-name>
        <servlet-class>Datos_Cargados.CargaDeDatos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarCliente</servlet-name>
        <url-pattern>/AgregarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarRestaurante</servlet-name>
        <url-pattern>/AgregarRestaurante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pedidos</servlet-name>
        <url-pattern>/Pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedidos</servlet-name>
        <url-pattern>/ListarPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductos</servlet-name>
        <url-pattern>/AgregarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaDeDatos</servlet-name>
        <url-pattern>/CargaDeDatos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
